Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - airshipctl_image_repo_credentials
  vars:
    image: quay.io/airshipit/airshipctl
    image_repo: https://quay.io/api/v1/

Use in repo docker-install instead of install-docker from zuul-jobs
  playbooks/airship-airshipctl-functional-existing-k8s.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fixed document pull issue in gate script 21
  playbooks/airship-airshipctl-test-runner.yaml
  roles/airshipctl-systemwide-executable/tasks/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Fix image push zuul job
  roles/airshipctl-publish-images/tasks/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Fix pull documents for non-master branch
  pkg/config/repo.go
  pkg/config/repo_test.go
  pkg/document/pull/pull.go
  pkg/document/pull/pull_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Move config init and load from root cmd level
  cmd/baremetal/baremetal.go
  cmd/cluster/cluster.go
  cmd/config/config.go
  cmd/document/document.go
  cmd/phase/phase.go
  cmd/root.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Update stale README and reformat docs
  README.md
  README.rst
  docs/source/architecture.md
  docs/source/conf.py
  docs/source/index.rst
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Write cli errors to stderr
  main.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix system power regressions
  pkg/config/constants.go
  pkg/remote/redfish/utils.go
  roles/airshipctl-test-configs/defaults/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Moving update-github-issues from post to promote
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

RT: add error handling for missing target docs
  pkg/document/plugin/replacement/v1alpha1/errors.go
  pkg/document/plugin/replacement/v1alpha1/transformer.go
  pkg/document/plugin/replacement/v1alpha1/transformer_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add pod log collecting role
  roles/airship-gather-pod-logs/defaults/main.yaml
  roles/airship-gather-pod-logs/tasks/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Use create schema instead of upgrade for ironic
  manifests/function/baremetal-operator/entrypoint/ironic-entrypoint
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix default Airshipctl config parameters
  pkg/cluster/initinfra/testdata/config.yaml
  pkg/clusterctl/cmd/testdata/airshipconfig.yaml
  pkg/config/config.go
  pkg/config/constants.go
  pkg/config/utils.go
  pkg/phase/apply/testdata/config.yaml
  roles/airshipctl-test-configs/defaults/main.yaml
  testdata/k8s/config.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Fixed docker build space issue
  Makefile
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix ironic inspector database schema creation
  manifests/function/baremetal-operator/entrypoint/inspector-entrypoint
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add automated CLI documentation
  Makefile
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_baremetal.md
  docs/source/cli/airshipctl_baremetal_ejectmedia.md
  docs/source/cli/airshipctl_baremetal_isogen.md
  docs/source/cli/airshipctl_baremetal_poweroff.md
  docs/source/cli/airshipctl_baremetal_poweron.md
  docs/source/cli/airshipctl_baremetal_powerstatus.md
  docs/source/cli/airshipctl_baremetal_reboot.md
  docs/source/cli/airshipctl_baremetal_remotedirect.md
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_init.md
  docs/source/cli/airshipctl_cluster_initinfra.md
  docs/source/cli/airshipctl_completion.md
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-cluster.md
  docs/source/cli/airshipctl_config_get-context.md
  docs/source/cli/airshipctl_config_get-credential.md
  docs/source/cli/airshipctl_config_import.md
  docs/source/cli/airshipctl_config_init.md
  docs/source/cli/airshipctl_config_set-cluster.md
  docs/source/cli/airshipctl_config_set-context.md
  docs/source/cli/airshipctl_config_set-credentials.md
  docs/source/cli/airshipctl_config_use-context.md
  docs/source/cli/airshipctl_document.md
  docs/source/cli/airshipctl_document_plugin.md
  docs/source/cli/airshipctl_document_pull.md
  docs/source/cli/airshipctl_document_render.md
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_apply.md
  docs/source/cli/airshipctl_secret.md
  docs/source/cli/airshipctl_secret_generate.md
  docs/source/cli/airshipctl_secret_generate_masterpassphrase.md
  docs/source/cli/airshipctl_version.md
  docs/source/cli/cli.rst
  docs/source/index.rst
  docs/tools/generate_cli_docs.go
  go.sum
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix default checkout options in Airshipctl config
  pkg/config/manifest.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/manifest-string.yaml
  pkg/config/testdata/repo-checkout-string.yaml
  pkg/config/testdata/repository-string.yaml
  pkg/config/utils.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Validate config before document pull
  pkg/document/pull/pull.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add EnsureComplete check to `cluster init`
  pkg/clusterctl/cmd/command.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add a setting for kustomize plugins
  pkg/config/constants.go
  pkg/document/bundle.go
  pkg/environment/settings.go
  pkg/environment/settings_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Remove "cluster initinfra" command
  cmd/cluster/cluster.go
  cmd/cluster/initinfra.go
  cmd/cluster/initinfra_test.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestNewInitInfraCommandGoldenOutput/cluster-initinfra-cmd-with-help.golden
  pkg/cluster/initinfra/infra.go
  pkg/cluster/initinfra/infra_test.go
  pkg/cluster/initinfra/testdata/config.yaml
  pkg/cluster/initinfra/testdata/kubeconfig.yaml
  pkg/cluster/initinfra/testdata/primary/site/test-site/ephemeral/initinfra/kustomization.yaml
  pkg/cluster/initinfra/testdata/primary/site/test-site/ephemeral/initinfra/replicationcontroller.yaml
  pkg/cluster/initinfra/testdata/primary/site/test-site/ephemeral/kustomization.yaml
  playbooks/airship-airshipctl-test-runner.yaml
  roles/airshipctl-phase-apply-initinfra/defaults/main.yaml
  roles/airshipctl-phase-apply-initinfra/tasks/main.yaml
  tools/gate/27_phase_apply_initinfra.sh
  tools/gate/config_phase_apply_initinfra.yaml
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Replace become: true notation
  playbooks/airship-airshipctl-build-gate.yaml
  roles/airship-gather-apache-logs/tasks/main.yaml
  roles/airship-gather-libvirt-logs/tasks/main.yaml
  roles/airship-gather-runtime-logs/tasks/main.yaml
  roles/airshipctl-build-ephemeral-iso/tasks/main.yml
  roles/apache-file-exchanger/tasks/main.yaml
  roles/apache-server/handlers/main.yaml
  roles/apache-server/tasks/htaccess.yaml
  roles/apache-server/tasks/htpasswd.yaml
  roles/apache-server/tasks/install.yaml
  roles/apache-server/tasks/restart.yaml
  roles/apache-server/tasks/ssl.yaml
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
  roles/apache-wsgi-sushy-emulator/tasks/frontend.yaml
  roles/docker-install/tasks/main.yaml
  roles/libvirt-domain/tasks/autodetect.yaml
  roles/libvirt-domain/tasks/domain.yaml
  roles/libvirt-install/tasks/configure.yaml
  roles/libvirt-install/tasks/main.yaml
  roles/libvirt-network/tests/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Remove Read the Docs jobs
  CONTRIBUTING.md
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Remove EnsureComplete config object validation from GetCurrentContext
  pkg/config/config.go
  pkg/config/config_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Update Airship vulnerability link
  .github/SECURITY.md
Due: none

Fix Lint warnings: Missing comments for functions
  cmd/baremetal/baremetal.go
  pkg/config/config.go
  pkg/config/options.go
  pkg/document/plugin/templater/v1alpha1/templater.go
  pkg/document/repo/adapter.go
  pkg/document/repo/repo.go
  pkg/environment/constants.go
  pkg/k8s/kubectl/interfaces.go
  testutil/testconfig.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix Lint warnings: Missing comments for functions
  testutil/k8sutils/mock_kubectl_factory.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add EnsureComplete config check during phase apply call
  pkg/phase/apply/apply.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix cluster reconciliation logic
  pkg/config/config.go
  pkg/config/utils.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Isolate document pull unit test
  pkg/document/pull/pull_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add CAPI initialization steps to gating
  manifests/site/test-site/ephemeral/initinfra/kustomization.yaml
  manifests/site/test-site/ephemeral/initinfra/patch_bmo_config.yaml
  manifests/site/test-site/shared/clusterctl/clusterctl.yaml
  manifests/site/test-site/shared/clusterctl/kustomization.yaml
  playbooks/airship-airshipctl-test-runner.yaml
  roles/airshipctl-cluster-init-ephemeral/tasks/main.yaml
  tools/gate/29_cluster_init.sh
  tools/gate/config_cluster_init.yaml
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Change ironic-agent repository to opendev.org
  manifests/function/baremetal-operator/entrypoint/init-bootstrap
  manifests/function/baremetal-operator/ironic-vars.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Enable golint as part of golangci-lint.
  .golangci.yaml
  cmd/config/get_context_test.go
  pkg/document/plugin/replacement/v1alpha1/errors.go
  pkg/environment/settings.go
  pkg/k8s/kubectl/apply_options_test.go
  pkg/k8s/kubectl/kubectl_test.go
  pkg/phase/apply/apply_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix network issues on startup for cloud-init
  manifests/function/ephemeral/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix typo in .gitignore
  .gitignore
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add management config validation
  pkg/config/config.go
  pkg/config/constants.go
  pkg/config/errors.go
  pkg/config/management.go
  pkg/config/management_test.go
  pkg/config/types.go
  pkg/config/utils.go
  pkg/remote/management.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Ansible syntax fix and added message decrypt.
  playbooks/airship-airshipctl-update-github-issues.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Implement document rendering sub-command
  cmd/document/document.go
  cmd/document/document_test.go
  cmd/document/testdata/TestDocumentGoldenOutput/document-render-with-help.golden
  cmd/document/testdata/TestDocumentGoldenOutput/document-with-help.golden
  cmd/phase/phase.go
  cmd/phase/render.go
  cmd/phase/render_test.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-help.golden
  cmd/phase/testdata/TestRenderGoldenOutput/render-with-multiple-labels.golden
  cmd/phase/testdata/ephemeral/initinfra/kustomization.yaml
  cmd/phase/testdata/ephemeral/initinfra/tiller.yaml
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_document.md
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_render.md
  pkg/phase/render/render.go
  pkg/phase/render/render_test.go
  pkg/phase/render/testdata/expected/allFilters.yaml
  pkg/phase/render/testdata/expected/multiLabels.yaml
  pkg/phase/render/testdata/expected/noFilter.yaml
  pkg/phase/render/testdata/expected/rawFilter.yaml
  pkg/phase/render/testdata/phase/baremetal.yaml
  pkg/phase/render/testdata/phase/kustomization.yaml
  pkg/phase/render/type.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fixed the script path issue
  playbooks/airship-airshipctl-update-github-issues.yaml
  playbooks/files/update_github_issues.py
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Remove AirshipError
  pkg/config/repo.go
  pkg/errors/common.go
  pkg/remote/errors.go
  pkg/remote/redfish/errors.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-build-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-publish-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-roles-test: any of: roles/*
