Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

airship-airshipctl-build-image:
  nodeset: airship-airshipctl-single-node
  run: playbooks/airship-airshipctl-build-images.yaml

airship-airshipctl-publish-image:
  parent: airship-airshipctl-build-image
  post-run: playbooks/airship-airshipctl-publish-images.yaml
  secrets:
  - name: airshipctl_image_repo_credentials
    secret: airshipctl_image_repo_credentials
    pass-to-parent: true
  vars:
    image: quay.io/airshipit/airshipctl
    image_repo: https://quay.io/api/v1/

Add python3-setuptools to required packages
  playbooks/airship-airshipctl-update-github-issues.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Use sudo to install python3-setuptools
  playbooks/airship-airshipctl-update-github-issues.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Update airshipctl docs
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-management-config.md
  docs/source/cli/airshipctl_config_set-management-config.md
Due: none

install python3-pip explicitly.
  playbooks/airship-airshipctl-update-github-issues.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Optimize memory usage for gating
  manifests/function/ephemeral/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Adding/updating documentation
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-management-config.md
  docs/source/cli/airshipctl_config_set-management-config.md
Due: none

New CLI option to get/set manifest
  cmd/config/config.go
  cmd/config/get_manifest.go
  cmd/config/get_manifest_test.go
  cmd/config/set_manifest.go
  cmd/config/set_manifest_test.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-too-few-args.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-too-many-args.golden
  cmd/config/testdata/TestConfigSetManifestGoldenOutput/config-cmd-set-manifest-with-help.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-all-manifests.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-manifest.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/missing.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/no-manifests.golden
  cmd/config/testdata/TestSetManifestGoldenOutput/modify-manifest.golden
  cmd/config/testdata/TestSetManifestGoldenOutput/set-manifest.golden
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_get-manifest.md
  docs/source/cli/airshipctl_config_set-manifest.md
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_helper_test.go
  pkg/config/config_test.go
  pkg/config/constants.go
  pkg/config/errors.go
  pkg/config/options.go
  pkg/config/utils.go
  testutil/testconfig.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add repository metadata
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-all-manifests.golden
  cmd/config/testdata/TestGetManifestConfigCmdGoldenOutput/get-manifest.golden
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/constants.go
  pkg/config/manifest.go
  pkg/config/testdata/config-string.yaml
  pkg/config/testdata/manifest-string.yaml
  pkg/config/testdata/metadata.yaml
  pkg/config/utils.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Return a proper error if phase document was not found
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Replace apt/yum ansible modules, use package instead
  playbooks/airship-airshipctl-update-github-issues.yaml
  roles/airshipctl-publish-images/tasks/main.yaml
  roles/apache-server/tasks/htpasswd.yaml
  roles/apache-server/tasks/install.yaml
  roles/apache-server/tasks/ssl.yaml
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
  roles/docker-install/tasks/main.yaml
  roles/libvirt-install/tasks/main.yaml
  roles/libvirt-network/tests/main.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Remove deprecated documentation
  docs/source/cli/airshipctl_baremetal_isogen.md
  docs/source/cli/airshipctl_cluster_initinfra.md
  docs/source/cli/airshipctl_document_render.md
Due: none

Guideline against very large Gerrit Changes
  CONTRIBUTING.md
Due: none

Add events package
  go.mod
  go.sum
  pkg/events/errors.go
  pkg/events/events.go
  pkg/events/processor.go
  pkg/events/processor_test.go
  pkg/k8s/utils/utils.go
  testutil/k8sutils/events.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add Append method to bundle interface
  pkg/document/bundle.go
  pkg/document/bundle_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add phase run method
  pkg/phase/errors.go
  pkg/phase/ifc/executor.go
  pkg/phase/phase.go
  pkg/phase/phase_test.go
  pkg/phase/testdata/valid_site/phases/capi_init.yaml
  pkg/phase/testdata/valid_site/phases/clusterctl.yaml
  pkg/phase/testdata/valid_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_site/phases/phaseplan.yaml
  pkg/phase/testdata/valid_site/phases/some_exc.yaml
  pkg/phase/testdata/valid_site/phases/some_phase.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

CI: Temporarily disable failing gate
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

CI: remove redundant Ansiblle-based CI jobs
  playbooks/vars/airship-ipam.yaml
  playbooks/vars/local-dev.yaml
  playbooks/vars/test-config.yaml
  roles/airshipctl-build-ephemeral-iso/defaults/main.yml
  roles/airshipctl-build-ephemeral-iso/tasks/main.yml
  roles/airshipctl-cluster-init-ephemeral/tasks/main.yaml
  roles/airshipctl-deploy-ephemeral-node/tasks/main.yaml
  roles/airshipctl-phase-apply-initinfra/defaults/main.yaml
  roles/airshipctl-phase-apply-initinfra/tasks/main.yaml
  roles/airshipctl-phase-controlplane/defaults/main.yaml
  roles/airshipctl-phase-controlplane/tasks/main.yaml
  roles/airshipctl-pull-docs/tasks/main.yaml
  roles/airshipctl-systemwide-executable/defaults/main.yaml
  roles/airshipctl-systemwide-executable/tasks/main.yaml
  roles/airshipctl-test-configs/defaults/main.yaml
  roles/airshipctl-test-configs/tasks/generate.yaml
  roles/airshipctl-test-configs/tasks/main.yaml
  roles/airshipctl-test-configs/templates/airshipconfig.j2
  roles/airshipctl-test-configs/templates/kubeconfig.j2
  roles/install-kubectl/defaults/main.yml
  roles/install-kubectl/tasks/main.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

CI: Remove job running on 32GB instances
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Reverting back vars for build gate
  playbooks/vars/airship-ipam.yaml
  playbooks/vars/local-dev.yaml
  playbooks/vars/test-config.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Cleaning for gate scripts
  docs/source/developers.md
  playbooks/airship-airshipctl-test-runner.yaml
  playbooks/airshipctl-gate-runner.yaml
  roles/airshipctl-run-script/tasks/main.yaml
  tools/deployment/22_test_configs.sh
  tools/gate/20_run_gate_runner.sh
  tools/gate/20_run_test_runner.sh
  tools/gate/21_systemwide_executable.sh
  tools/gate/22_test_configs.sh
  tools/gate/23_build_ephemeral_iso.sh
  tools/gate/25_deploy_ephemeral_node.sh
  tools/gate/27_phase_apply_initinfra.sh
  tools/gate/29_cluster_init.sh
  tools/gate/config_build_ephemeral_iso.yaml
  tools/gate/config_cluster_init.yaml
  tools/gate/config_deploy_ephemeral_node.yaml
  tools/gate/config_phase_apply_initinfra.yaml
  tools/gate/config_phase_controlplane.yaml
  tools/gate/config_systemwide_executable.yaml
  tools/gate/config_template.yaml
  tools/gate/config_test_configs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Ignore errors from test coverage
  Makefile
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add manifestreader interface implementation
  pkg/k8s/utils/testdata/kubeconfig.yaml
  pkg/k8s/utils/testdata/source_bundle/kustomization.yaml
  pkg/k8s/utils/testdata/source_bundle/replicationcontroller.yaml
  pkg/k8s/utils/utils.go
  pkg/k8s/utils/utils_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add applier from cli-utils package
  pkg/k8s/applier/applier.go
  pkg/k8s/applier/applier_test.go
  pkg/k8s/applier/apply_options.go
  pkg/k8s/applier/errors.go
  pkg/k8s/applier/fake.go
  pkg/k8s/applier/testdata/kubeconfig.yaml
  pkg/k8s/applier/testdata/source_bundle/kustomization.yaml
  pkg/k8s/applier/testdata/source_bundle/replicationcontroller.yaml
  pkg/k8s/applier/testdata/two_cm_bundle/kustomization.yaml
  pkg/k8s/applier/testdata/two_cm_bundle/resources.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix config init command
  cmd/config/config.go
  pkg/config/config.go
  pkg/environment/settings.go
  testutil/testconfig.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fixed docs validation build
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add 3 nodes control plane composite
  manifests/composite/k8s-stacked-controlplane/kustomization.yaml
  manifests/composite/k8s-stacked-controlplane/replicas.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Added unit test for dochelper, config
  pkg/config/config_test.go
  pkg/document/dochelper_test.go
  pkg/document/testdata/dochelper/invalid/baremetalhost.yaml
  pkg/document/testdata/dochelper/invalid/kustomization.yaml
  pkg/document/testdata/dochelper/invalid/secret.yaml
  pkg/document/testdata/dochelper/valid/baremetalhost.yaml
  pkg/document/testdata/dochelper/valid/kustomization.yaml
  pkg/document/testdata/dochelper/valid/secret.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Integrate cli-utils applier with phases.
  cmd/phase/apply.go
  cmd/phase/apply_test.go
  cmd/phase/phase.go
  cmd/phase/testdata/TestNewApplyCommandGoldenOutput/phase-apply-cmd-with-help.golden
  docs/source/cli/airshipctl_phase_apply.md
  pkg/phase/apply/apply.go
  pkg/phase/apply/apply_test.go
  tools/deployment/26_deploy_metal3_capi_ephemeral_node.sh
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix metadata loading by config module
  pkg/config/config.go
  pkg/config/config_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Integrate ManifestMetadata with phase executors
  pkg/phase/ifc/executor.go
  pkg/phase/phase.go
  pkg/phase/phase_test.go
  pkg/phase/testdata/airshipconfig.yaml
  pkg/phase/testdata/no_plan_site/metadata.yaml
  pkg/phase/testdata/valid_site/metadata.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Exclude kubeconfig from use-context update
  cmd/config/init.go
  cmd/config/set_management_configuration.go
  cmd/config/testdata/TestConfigUseContextGoldenOutput/config-use-context-does-not-exist.golden
  cmd/config/testdata/TestConfigUseContextGoldenOutput/config-use-context-no-args.golden
  cmd/config/use_context.go
  docs/source/cli/airshipctl_config_use-context.md
  pkg/config/config.go
  pkg/config/config_helper.go
  pkg/config/config_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Added unit test for missing document functions
  pkg/document/document_test.go
  pkg/document/testdata/common/initially_ignored.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add an m3 host generator function
  manifests/function/hostgenerator-m3/README.md
  manifests/function/hostgenerator-m3/hosttemplate.yaml
  manifests/function/hostgenerator-m3/kustomization.yaml
  manifests/function/hostgenerator-m3/replacements/hosts.yaml
  manifests/function/hostgenerator-m3/replacements/kustomization.yaml
  manifests/site/test-site/ephemeral/bootstrap/baremetalhost.yaml
  manifests/site/test-site/ephemeral/bootstrap/hostgenerator/host-generation.yaml
  manifests/site/test-site/ephemeral/bootstrap/hostgenerator/kustomization.yaml
  manifests/site/test-site/ephemeral/bootstrap/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/host-generation.yaml
  manifests/site/test-site/ephemeral/controlplane/hostgenerator/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/nodes/kustomization.yaml
  manifests/site/test-site/shared/baremetalhost/node01/baremetalhost.yaml
  manifests/site/test-site/shared/baremetalhost/node01/kustomization.yaml
  manifests/site/test-site/shared/baremetalhost/node01/networkData
  manifests/site/test-site/shared/baremetalhost/node02/kustomization.yaml
  manifests/site/test-site/shared/baremetalhost/node02/networkData
  manifests/site/test-site/shared/catalogues/hosts.yaml
  manifests/site/test-site/shared/catalogues/kustomization.yaml
  manifests/type/gating/shared/catalogues/common-networking.yaml
  manifests/type/gating/shared/catalogues/kustomization.yaml
  pkg/document/plugin/templater/v1alpha1/templater.go
  pkg/document/plugin/templater/v1alpha1/templater_test.go
  playbooks/airship-airshipctl-build-gate.yaml
  tools/deployment/21_systemwide_executable.sh
  tools/deployment/22_test_configs.sh
  tools/document/build_kustomize_plugin.sh
  tools/document/validate_site_docs.sh
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix airshipctl-roles-test gate job
  roles/apache-file-exchanger/tasks/main.yaml
  roles/apache-file-exchanger/templates/conf.j2
  roles/apache-file-exchanger/templates/ssl.conf.j2
  roles/apache-server/tasks/install.yaml
  roles/apache-wsgi-sushy-emulator/tasks/frontend.yaml
  roles/apache-wsgi-sushy-emulator/templates/wsgi-sushy-emulator-ssl.conf.j2
  roles/apache-wsgi-sushy-emulator/templates/wsgi-sushy-emulator.conf.j2
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Added unit test for missing config functions
  cmd/config/get_management_config_test.go
  cmd/config/set_management_configuration_test.go
  cmd/config/testdata/TestConfigSetManagementConfigurationInsecureGoldenOutput/config-cmd-set-management-config-no-change.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-empty-management-config.golden
  pkg/environment/settings_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Allow to use variable substitution for cluster-api components
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/clusterctl/client/factory.go
  pkg/clusterctl/implementations/components_client.go
  pkg/clusterctl/implementations/errors.go
  pkg/clusterctl/implementations/reader.go
  pkg/clusterctl/implementations/repository_client.go
  pkg/clusterctl/implementations/repository_client_test.go
  pkg/clusterctl/implementations/testdata/functions/5/azure-resources.yaml
  pkg/clusterctl/implementations/testdata/functions/5/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Re-enable doc validation gate
  tools/document/validate_site_docs.sh
  tools/validate_docs
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Generate document CRD to different files
  tools/document/validate_site_docs.sh
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Removed duplicate YAML keys
  cmd/cluster/testdata/statusmap/legacy-crd.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Path conditions:
  airship-airshipctl-build-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-publish-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-roles-test: any of: roles/*
