Repository airshipit/airshipctl: changes, and which Zuul jobs are due for each by the changed paths.
All: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Path conditions:
  airship-airshipctl-build-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-publish-image: unless all of: ^.*\.md$, ^docs/.*$
  airship-airshipctl-roles-test: any of: roles/*

Add set-management-configuration command
  cmd/config/config.go
  cmd/config/set_management_configuration.go
  cmd/config/set_management_configuration_test.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-excess-args.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-no-args.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-not-found.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationCmdGoldenOutput/config-cmd-set-management-config-with-help.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationInsecureGoldenOutput/config-cmd-set-management-config-change-insecure.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationMultipleOptionsGoldenOutput/config-cmd-set-management-config-change-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationTypeGoldenOutput/config-cmd-set-management-config-change-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationTypeGoldenOutput/config-cmd-set-management-config-unknown-type.golden
  cmd/config/testdata/TestConfigSetManagementConfigurationUseProxyGoldenOutput/config-cmd-set-management-config-change-use-proxy.golden
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/errors.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Locked version of sushy-tools
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Fixed local scripts
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add golint as a non-voting gate
  Makefile
  playbooks/airship-airshipctl-golint.yaml
  tools/golint
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Install netaddr as dependency of ansible ipaddr/ipwrap filter
  tools/gate/00_setup.sh
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Improve config package organization pt.3
  pkg/config/config.go
  pkg/config/types.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add check_copyright as part of gate script
  Makefile
  tools/check_copyright
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Extend document interface with utility methods
  pkg/document/document.go
  pkg/document/document_test.go
  pkg/document/testdata/common/custom_resource.yaml
  pkg/document/testdata/common/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Updates to go dependencies & overall install flow
  docs/source/developers.md
Due: none

Remove deprecated `scopelint` linter
  .golangci.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Use provider.URL() instead of root
  pkg/clusterctl/client/client.go
  pkg/clusterctl/client/client_test.go
  pkg/clusterctl/client/factory.go
  pkg/clusterctl/client/factory_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Adds support for `clusterctl move` of capi and bmo resources from ephermeral to workload cluster.
  cmd/cluster/cluster.go
  cmd/cluster/move.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_move.md
  go.mod
  go.sum
  pkg/clusterctl/api/v1alpha1/clusterctl_types.go
  pkg/clusterctl/client/client.go
  pkg/clusterctl/client/move.go
  pkg/clusterctl/client/move_test.go
  pkg/clusterctl/cmd/command.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Refactor getGvk to use document.Document methods
  pkg/cluster/status.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add site doc validation gate
  Makefile
  playbooks/airship-airshipctl-validate-documents.yaml
  tools/document/build_kustomize_plugin.sh
  tools/document/get_kind.sh
  tools/document/start_kind.sh
  tools/document/validate_site_docs.sh
  tools/validate_docs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Remove erroneusly duplicated gating lint-unit test job
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Updated github credentials for airshipbot
  zuul.d/secrets.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Move clusterctl api structs to gloabal api module
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/api/v1alpha1/clusterctl_types_test.go
  pkg/clusterctl/client/client.go
  pkg/clusterctl/client/client_test.go
  pkg/clusterctl/client/factory.go
  pkg/clusterctl/client/factory_test.go
  pkg/clusterctl/cmd/command.go
  pkg/clusterctl/implementations/reader.go
  pkg/clusterctl/implementations/reader_test.go
  pkg/clusterctl/implementations/repository_client_test.go
  pkg/document/selectors.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Implement airshipctl cluster status
  cmd/cluster/cluster.go
  cmd/cluster/status.go
  cmd/cluster/status_test.go
  cmd/cluster/testdata/TestNewClusterCommandGoldenOutput/cluster-cmd-with-help.golden
  cmd/cluster/testdata/TestStatusCmdGoldenOutput/check-status-no-resources.golden
  cmd/cluster/testdata/TestStatusCmdGoldenOutput/check-status-with-resources.golden
  cmd/cluster/testdata/statusmap/crd.yaml
  cmd/cluster/testdata/statusmap/kustomization.yaml
  cmd/cluster/testdata/statusmap/legacy-crd.yaml
  cmd/cluster/testdata/statusmap/legacy-resource.yaml
  cmd/cluster/testdata/statusmap/missing.yaml
  cmd/cluster/testdata/statusmap/pending-resource.yaml
  cmd/cluster/testdata/statusmap/stable-resource.yaml
  cmd/cluster/testdata/statusmap/unknown.yaml
  docs/source/cli/airshipctl_cluster.md
  docs/source/cli/airshipctl_cluster_status.md
  docs/source/cli/airshipctl_phase_render.md
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Remove deprecated fields of remoteDirect
  pkg/clusterctl/cmd/testdata/airshipconfig.yaml
  pkg/phase/apply/testdata/config.yaml
  roles/airshipctl-test-configs/templates/airshipconfig.j2
  testdata/k8s/config.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Add get-management-config command
  cmd/config/config.go
  cmd/config/get_management_config.go
  cmd/config/get_management_config_test.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-all.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-default.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-not-found.golden
  cmd/config/testdata/TestGetManagementConfigCmdGoldenOutput/get-management-config-with-help.golden
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Set document validation job non-voting
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add control plane deployment
  manifests/function/baremetal-operator/config-file/ironic.conf
  manifests/function/k8scontrol/cluster.yaml
  manifests/function/k8scontrol/controlplane.yaml
  manifests/function/k8scontrol/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/control-machine-template-patch.yaml
  manifests/site/test-site/ephemeral/controlplane/kustomization.yaml
  manifests/site/test-site/ephemeral/controlplane/nodes/kustomization.yaml
  manifests/site/test-site/shared/baremetalhost/node01/baremetalhost.yaml
  manifests/site/test-site/shared/baremetalhost/node01/kustomization.yaml
  manifests/site/test-site/shared/baremetalhost/node01/networkData
  playbooks/airship-airshipctl-build-gate.yaml
  playbooks/airship-airshipctl-test-runner.yaml
  playbooks/vars/test-config.yaml
  roles/airship-libvirt-gate/defaults/main.yaml
  roles/airship-libvirt-gate/tasks/build-infra.yaml
  roles/airshipctl-phase-controlplane/defaults/main.yaml
  roles/airshipctl-phase-controlplane/tasks/main.yaml
  roles/airshipctl-test-configs/defaults/main.yaml
  roles/apache-file-exchanger/tasks/main.yaml
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
  roles/apache-wsgi-sushy-emulator/tasks/frontend.yaml
  roles/gather-system-logs/tasks/main.yaml
  roles/install-kustomize/defaults/main.yml
  roles/install-kustomize/tasks/main.yaml
  roles/libvirt-domain/defaults/main.yaml
  roles/libvirt-domain/templates/domain.xml.j2
  tools/gate/30_phase_controlplane.sh
  tools/gate/config_phase_controlplane.yaml
  zuul.d/jobs.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Fix: remove duplicate NewImportCommand
  cmd/config/config.go
  cmd/config/testdata/TestConfigGoldenOutput/config-cmd-with-help.golden
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Make get-management-config print in order
  cmd/config/get_management_config.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix gate scripts for local setup
  playbooks/vars/local-dev.yaml
  tools/gate/20_run_test_runner.sh
  tools/gate/config_template.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Added new command for Image Build.
  cmd/baremetal/baremetal.go
  cmd/baremetal/baremetal_test.go
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-isogen-with-help.golden
  cmd/baremetal/testdata/TestBaremetalGoldenOutput/baremetal-with-help.golden
  cmd/image/build.go
  cmd/image/image.go
  cmd/image/image_test.go
  cmd/image/testdata/TestImageGoldenOutput/image-with-help.golden
  cmd/root.go
  cmd/testdata/TestRootGoldenOutput/rootCmd-with-default-subcommands.golden
  docs/source/cli/airshipctl.md
  docs/source/cli/airshipctl_baremetal.md
  docs/source/cli/airshipctl_image.md
  docs/source/cli/airshipctl_image_build.md
  roles/airshipctl-build-ephemeral-iso/tasks/main.yml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Return an error if there is a problem to access config file
  pkg/config/config.go
  pkg/environment/settings.go
  pkg/environment/settings_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Fix contol plane deployment ansible task
  playbooks/airship-airshipctl-build-gate.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add links to other airship projects
  docs/source/conf.py
  docs/source/index.rst
Due: none

Add more genernic Kubectl Factory interface
  pkg/k8s/kubectl/apply_options_test.go
  pkg/k8s/kubectl/kubectl_test.go
  pkg/phase/apply/apply_test.go
  testutil/k8sutils/mock_kubectl_factory.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Move mock document file system to testutils
  pkg/k8s/kubectl/kubectl_test.go
  testutil/fs/fs.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add new constructor to create documents
  pkg/document/constants.go
  pkg/document/document.go
  pkg/document/document_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Add python3-setuptools to needed packages
  roles/apache-wsgi-sushy-emulator/tasks/backend.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Add bash scripts to run airshipctl
  playbooks/airshipctl-gate-runner.yaml
  roles/airshipctl-run-script/tasks/main.yaml
  tools/deployment/01_install_kubectl.sh
  tools/deployment/21_systemwide_executable.sh
  tools/deployment/22_test_configs.sh
  tools/deployment/23_pull_documents.sh
  tools/deployment/24_build_ephemeral_iso.sh
  tools/deployment/25_deploy_ephemeral_node.sh
  tools/deployment/26_deploy_metal3_capi_ephemeral_node.sh
  tools/deployment/30_deploy_controlplane.sh
  tools/deployment/certificates/airship_config_ca_data
  tools/deployment/certificates/airship_config_client_cert_data
  tools/deployment/certificates/airship_config_client_key_data
  tools/deployment/templates/airshipconfig_template
  tools/deployment/templates/kubeconfig_template
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Zuul Job with Bash oriented gate tests
  tools/validate_docs
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Update kubectl version
  Makefile
  roles/install-kubectl/tasks/main.yml
  tools/deployment/01_install_kubectl.sh
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image, airship-airshipctl-roles-test

Remove config file requirement for plugin command
  cmd/document/document.go
  cmd/document/pull.go
  cmd/document/pull_test.go
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Make API compatible with k8s apimachinary
  Makefile
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/api/v1alpha1/groupversion_info.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  tools/check_copyright
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Implement document filtering using api objects
  pkg/api/v1alpha1/clusterctl_types.go
  pkg/clusterctl/cmd/command.go
  pkg/document/document.go
  pkg/document/document_test.go
  pkg/document/errors.go
  pkg/document/selectors.go
  pkg/document/selectors_test.go
  pkg/document/testdata/common/clusterctl.yaml
  pkg/document/testdata/common/kustomization.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image

Introduce phases and phase plan
  cmd/phase/phase.go
  cmd/phase/plan.go
  cmd/phase/plan_test.go
  cmd/phase/testdata/TestNewPhaseCommandGoldenOutput/phase-cmd-with-help.golden
  cmd/phase/testdata/TestNewPlanCommandGoldenOutput/phase-plan-cmd-with-help.golden
  docs/source/cli/airshipctl_config.md
  docs/source/cli/airshipctl_config_set-management-config.md
  docs/source/cli/airshipctl_phase.md
  docs/source/cli/airshipctl_phase_plan.md
  pkg/api/v1alpha1/groupversion_info.go
  pkg/api/v1alpha1/phase_types.go
  pkg/api/v1alpha1/phaseplan_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/phase/phase.go
  pkg/phase/phase_test.go
  pkg/phase/testdata/airshipconfig.yaml
  pkg/phase/testdata/kubeconfig.yaml
  pkg/phase/testdata/no_plan_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_site/phases/kustomization.yaml
  pkg/phase/testdata/valid_site/phases/phaseplan.yaml
Due: airship-airshipctl-build-image, airship-airshipctl-publish-image
